
// login page

#page-container {
	&.no-login {
		&.sidebar-l {
			&.sidebar-o {
				padding-left: 0;
			}
		}	
		#sidebar {
			display: none;
		}	
		#header-navbar {
			display: none;
		}

		#main-container {
			.login {
				float: none;
			}
		}
	}	
}
