.provider .form-check > div:nth-child(1) {
  width: 20%; }
  .provider .form-check > div:nth-child(1) > label {
    margin-right: 4%; }

.provider .form-check > div:nth-child(2) {
  width: 20%; }
  .provider .form-check > div:nth-child(2) > label {
    margin-right: 4%; }

.provider .form-check > div:nth-child(3) {
  width: 20%; }
  .provider .form-check > div:nth-child(3) > label {
    margin-right: 4%; }

.provider .form-check > div:nth-child(4) {
  width: 16%; }
  .provider .form-check > div:nth-child(4) > label {
    margin-right: 4%; }

.provider .form-check > div:nth-child(5) {
  width: 16%;
  text-align: right; }
  .provider .form-check > div:nth-child(5) > label {
    margin-right: 4%; }

.breadcrumb {
  font-size: 16px !important; }
