.breadcrumb {
  font-size: 16px !important; }

.content-check {
  background: #e5e5e5;
  padding: 10px 10px;
  margin: 0 30px; }

.bg-gray-lighter {
  border-top: 1px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: #fefefe; }

a:hover {
  cursor: pointer; }

.provider-details .supplyinfo .table tbody td a {
  margin-left: 6%; }

.provider-details .supplyinfo .supplyinfo-view .table > tbody tr > th {
  text-align: center;
  vertical-align: middle;
  background: #e4e4e4; }

.provider-details .supplyinfo .supplyinfo-view .table > tbody tr > td {
  text-align: center; }

.provider-details .orderinfo .table {
  margin-top: 20px; }

.provider-details .orderinfo .form-check {
  padding: 6px 10px;
  background: #e5e5e5; }
  .provider-details .orderinfo .form-check > div:nth-child(1) {
    width: 18%; }
    .provider-details .orderinfo .form-check > div:nth-child(1) > label {
      margin-right: 2%; }
  .provider-details .orderinfo .form-check > div:nth-child(2) {
    width: 32%; }
    .provider-details .orderinfo .form-check > div:nth-child(2) > label {
      margin-right: 2%; }
  .provider-details .orderinfo .form-check > div:nth-child(3) {
    width: 32%; }
    .provider-details .orderinfo .form-check > div:nth-child(3) > label {
      margin-right: 2%; }
  .provider-details .orderinfo .form-check > div:nth-child(4) {
    width: 16%; }
    .provider-details .orderinfo .form-check > div:nth-child(4) .btn {
      margin-right: 4%; }

.provider-details .returninfo .table {
  margin-top: 20px; }

.provider-details .returninfo .form-check {
  padding: 6px 10px;
  background: #e5e5e5; }
  .provider-details .returninfo .form-check > div:nth-child(1) {
    width: 18%; }
    .provider-details .returninfo .form-check > div:nth-child(1) > label {
      margin-right: 2%; }
  .provider-details .returninfo .form-check > div:nth-child(2) {
    width: 18%; }
    .provider-details .returninfo .form-check > div:nth-child(2) > label {
      margin-right: 2%; }
  .provider-details .returninfo .form-check > div:nth-child(3) {
    width: 32%; }
    .provider-details .returninfo .form-check > div:nth-child(3) > label {
      margin-right: 2%; }
  .provider-details .returninfo .form-check > div:nth-child(4) {
    width: 18%; }
    .provider-details .returninfo .form-check > div:nth-child(4) > label {
      margin-right: 2%; }
  .provider-details .returninfo .form-check > div:nth-child(5) {
    width: 12%; }
    .provider-details .returninfo .form-check > div:nth-child(5) .btn {
      margin-right: 4%; }

.provider-details .paymentinfo .form-check {
  padding: 6px 10px;
  background: #e5e5e5; }
  .provider-details .paymentinfo .form-check > div:nth-child(1) {
    width: 18%; }
    .provider-details .paymentinfo .form-check > div:nth-child(1) > label {
      margin-right: 2%; }
  .provider-details .paymentinfo .form-check > div:nth-child(2) {
    width: 56%; }
    .provider-details .paymentinfo .form-check > div:nth-child(2) > label {
      margin-right: 2%; }
  .provider-details .paymentinfo .form-check > div:nth-child(3) {
    width: 20%; }
    .provider-details .paymentinfo .form-check > div:nth-child(3) .btn {
      margin-right: 4%; }
