<div class="provider-details">
    <div class="content bg-gray-lighter">
        <div class="row items-push">
            <div class="col-sm-5 hidden-xs">
                <ol class="breadcrumb">
                    <li>供用商管理</li>
                    <li><a class="link-effect" href="">供应商详情</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Block Tabs Content Animation -->
        <div class="row">
            <div class="col-md-12">
                <!-- Block Tabs Animated Fade -->
                <div class="block">
                    <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs">
                        <li class="active">
                            <a aim="#btabs-alt-static-provider">供应商信息</a>
                        </li>
                        <li>
                            <a aim="#btabs-alt-static-supply">供货信息</a>
                        </li>
                        <li>
                            <a aim="#btabs-alt-static-orders">订单信息</a>
                        </li>
                        <li>
                            <a aim="#btabs-alt-static-return">退换货信息</a>
                        </li>
                        <li>
                            <a aim="#btabs-alt-static-payment">付款信息</a>
                        </li>
                    </ul>
                    <div class="block-content tab-content">
                        <div class="tab-pane active" id="btabs-alt-static-provider">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>供应商姓名</th>
                                        <td>重庆飘瑞斯特贸易有限公司</td>
                                        <th>联系人</th>
                                        <td>程楠</td>
                                        <th>联系电话</th>
                                        <td>13548967845</td>
                                    </tr>
                                    <tr>
                                        <th>联系人职位</th>
                                        <td>销售总监</td>
                                        <th>联系人邮件</th>
                                        <td>chengnan@163.com</td>
                                        <th>供应商座机</th>
                                        <td>023-45879654</td>
                                    </tr>
                                    <tr>
                                        <th>供货类型</th>
                                        <td>主材</td>
                                        <th>所属区域</th>
                                        <td>重庆，北京</td>
                                        <th>登录名</th>
                                        <td>CQ_PRST</td>
                                    </tr>
                                    <tr>
                                        <th>供应商类型</th>
                                        <td>装修</td>
                                        <th>添加人</th>
                                        <td>宋科</td>
                                        <th>添加时间</th>
                                        <td>2016-05-16 15:12:56</td>
                                    </tr>
                                    <tr>
                                        <th>备注</th>
                                        <td colspan="5">重庆飘瑞斯特贸易有限公司</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="btabs-alt-static-supply">
                            <table class="table table-bordered table-striped js-dataTable-full">
                                <thead>
                                    <tr>
                                        <th class="text-center"> 商品名称</th>
                                        <th>商品编号</th>
                                        <th class="hidden-xs">商品型号</th>
                                        <th class="hidden-xs" style="width: 15%;">商品分类</th>
                                        <th class="text-center" style="width: 10%;">商品品牌</th>
                                        <th>商品规格</th>
                                        <th>商品单价</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">手持花洒带支架软管</td>
                                        <td class="font-w600">SMW2016254879</td>
                                        <td class="hidden-xs">SDF15489-03</td>
                                        <td class="hidden-xs">主材-卫浴洁具</td>
                                        <td class="hidden-xs">诺顿</td>
                                        <td class="hidden-xs">15*42*16cm</td>
                                        <td class="hidden-xs">1465.88</td> 
                                        <td class="hidden-xs"><a href="">查看</a><a href="">编辑</a><a href="">删除</a></td>
                                    </tr>
                                   <tr>
                                        <td class="text-center">手持花洒带支架软管</td>
                                        <td class="font-w600">SMW2016254879</td>
                                        <td class="hidden-xs">SDF15489-03</td>
                                        <td class="hidden-xs">主材-卫浴洁具</td>
                                        <td class="hidden-xs">诺顿</td>
                                        <td class="hidden-xs">15*42*16cm</td>
                                        <td class="hidden-xs">1465.88</td> 
                                        <td class="hidden-xs"><a href="">查看</a><a href="">编辑</a><a href="">删除</a></td>
                                    </tr>
                                   <tr>
                                        <td class="text-center">手持花洒带支架软管</td>
                                        <td class="font-w600">SMW2016254879</td>
                                        <td class="hidden-xs">SDF15489-03</td>
                                        <td class="hidden-xs">主材-卫浴洁具</td>
                                        <td class="hidden-xs">诺顿</td>
                                        <td class="hidden-xs">15*42*16cm</td>
                                        <td class="hidden-xs">1465.88</td> 
                                        <td class="hidden-xs"><a href="">查看</a><a href="">编辑</a><a href="">删除</a></td>
                                    </tr>
                                </tbody>
                            </table>        
                        </div>
                        <div class="tab-pane" id="btabs-alt-static-orders">
                            <!-- Dynamic Table Full -->
                            <div class="block">
                                <div class="block-content">
                                    <table class="table table-bordered table-striped js-dataTable-full">
                                        <thead>
                                            <tr>
                                                <th class="text-center">订单号</th>
                                                <th>下单时间</th>
                                                <th class="hidden-xs">收货人</th>
                                                <th class="hidden-xs" style="width: 15%;">总金额（元）</th>
                                                <th class="text-center" style="width: 10%;">订单状态</th>
                                                <th>所属区域</th>
                                                <th>供应商</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">待发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">已发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">待发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">已发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END Dynamic Table Full -->
                        </div>
                        <div class="tab-pane" id="btabs-alt-static-return">
                            <!-- Dynamic Table Full -->
                            <div class="block">
                                <div class="block-content">
                                    <table class="table table-bordered table-striped js-dataTable-full">
                                        <thead>
                                            <tr>
                                                <th class="text-center">退换货订单号</th>
                                                <th>订单号</th>
                                                <th class="hidden-xs">退货时间</th>
                                                <th class="hidden-xs" style="width: 15%;">退货人</th>
                                                <th class="text-center" style="width: 10%;">退换货订单状态</th>
                                                <th>所属区域</th>
                                                <th>供应商</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">SMWTHH85425155</td>
                                                <td class="hidden-xs">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">未完成</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">SMWTHH85425155</td>
                                                <td class="hidden-xs">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">未完成</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">SMWTHH85425155</td>
                                                <td class="hidden-xs">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">未完成</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">SMWTHH85425155</td>
                                                <td class="hidden-xs">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">未完成</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END Dynamic Table Full -->
                        </div>
                        <div class="tab-pane" id="btabs-animated-fade-return">
                            <!-- Dynamic Table Full -->
                            <div class="block">
                                <div class="block-content">
                                    <table class="table table-bordered table-striped js-dataTable-full">
                                        <thead>
                                            <tr>
                                                <th class="text-center">订单号</th>
                                                <th>下单时间</th>
                                                <th class="hidden-xs">收货人</th>
                                                <th class="hidden-xs" style="width: 15%;">总金额（元）</th>
                                                <th class="text-center" style="width: 10%;">订单状态</th>
                                                <th>所属区域</th>
                                                <th>供应商</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">待发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">已发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">待发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                           <tr>
                                                <td class="text-center">SMW48575468959</td>
                                                <td class="font-w600">2016-08-10 09：45：10</td>
                                                <td class="hidden-xs">张佳</td>
                                                <td class="hidden-xs">62000.00</td>
                                                <td class="hidden-xs">已发货</td>
                                                <td class="hidden-xs">重庆</td>
                                                <td class="hidden-xs">重庆飘瑞斯特贸易有限公司</td> 
                                                <td class="hidden-xs"><a href="">查看</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END Dynamic Table Full -->
                        </div>
                    </div>
                </div>
                <!-- END Block Tabs Animated Fade -->
            </div>
        </div>
        <!-- END Block Tabs Content Animation -->
    </div>
</div>