<div class="provider-details">
    <div class="content bg-gray-lighter">
        <div class="row">
            <div class="hidden-xs">
                <ol class="breadcrumb">
                    <li>采购订单管理</li>
                    <li>订单管理</li>
                    <li><a class="link-effect" href="">订单详情</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Block Tabs Content Animation -->
        <div class="row">
            <div class="col-md-12">
                <!-- Block Tabs Animated Fade -->
                <div class="block">
                    <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs">
                        <li class="active">
                            <a aim="#btabs-alt-static-provider">订单信息</a>
                        </li>
                        <li>
                            <a aim="#btabs-alt-static-supply">商品信息</a>
                        </li>
                        <li>
                            <a aim="#btabs-alt-static-orders">发货信息</a>
                        </li>
                    </ul>
                    <div class="block-content tab-content">
                        <div class="tab-pane active" id="btabs-alt-static-provider">
                            <div class="block">
                                <div class="block-content">
                                    <div class="purchase-orderinfo col-md-5">
                                        <dd>
                                            <dt>订单状态：未完成</dt>
                                            <dt>订单号：SMW48575468959</dt>
                                            <dt>下单时间：2016-08-10 09：45：10</dt>
                                            <dt>收货人：张佳</dt>
                                            <dt>收货电话：13659875412</dt>
                                            <dt>收货地址：重庆市</dt>
                                            <dt>进场时间：2016-08-17</dt>
                                            <dt>所属区域：重庆</dt>
                                            <dt>供应商：重庆飘瑞斯特贸易有限公司</dt>
                                        </dd>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="btabs-alt-static-supply">
                           <div class="orderinfo-un-view">
                                <div class="orderinfo-un-goods">
                                    <div class="table-responsive push-50">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 50px;"></th>
                                                    <th class="text-center">商品名称</th>
                                                    <th class="text-center" style="width: 100px;">商品编号</th>
                                                    <th class="text-center" style="width: 120px;">单位</th>
                                                    <th class="text-right" style="width: 120px;">单价</th>
                                                    <th class="text-right" style="width: 120px;">数量</th>
                                                    <th class="text-right" style="width: 120px;">商品状态</th>
                                                    <th class="text-right" style="width: 120px;">小计</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <th class="text-center" style="width: 100px;"> 主入户门</th>
                                                    <td class="text-center">SMW2016254879</td>
                                                    <td class="text-center">樘</td>
                                                    <td class="text-right">￥2500</td>
                                                    <td class="text-right">1</td>
                                                    <td class="text-right">未发货</td>
                                                    <td class="text-right">￥7500</td>
                                                   
                                                </tr>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <th class="text-center" style="width: 100px;"> 主入户门</th>
                                                    <td class="text-center">SMW2016254879</td>
                                                    <td class="text-center">樘</td>
                                                    <td class="text-right">￥2500</td>
                                                    <td class="text-right">1</td>
                                                    <td class="text-right">未发货</td>
                                                    <td class="text-right">￥7500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <th class="text-center" style="width: 100px;"> 主入户门</th>
                                                    <td class="text-center">SMW2016254879</td>
                                                    <td class="text-center">樘</td>
                                                    <td class="text-right">￥2500</td>
                                                    <td class="text-right">1</td>
                                                    <td class="text-right">未发货</td>
                                                    <td class="text-right">￥7500</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="font-w600 text-right"></td>
                                                    <td class="text-right" style="color:red;">总计</td>
                                                    <td class="text-right" style="color:red;">$ 27.500,00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="btabs-alt-static-orders">
                           
                            <div class="orderinfo-complete-view">
                                <div class="orderinfo-complete-delivery">
                                    <table class="table table-bordered deliveryinfo-table">
                                        <thead>
                                            <tr>
                                                <th class="text-left th-title" colspan="4">
                                                    共计2件 预计进场时间：2016-08-21 物流公司：韵达快递 运单编号：45896542698754623562
                                                    
                                                </th>
                                                <td class="text-right"><button type="button" class="btn btn-primary">查看物流</button></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <th class="font-w600">智能家居系统</th>
                                                <td class="hidden-xs">品牌：HOMEKIT</td>
                                                <td class="hidden-xs">×1</td>
                                                <td class="text-center">下单时间：2016-08-15 15:21 ：30</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">2</td>
                                                <th class="font-w600">毛细管制冷系统</th>
                                                <td class="hidden-xs">品牌：定制</td>
                                                <td class="hidden-xs">×1</td>
                                                <td class="text-center">下单时间：2016-08-15 15:21 ：30</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-md-6 deliveryinfo-sign">
                                                            <div class=" col-md-6">
                                                                <p>已签收</p>
                                                                <p>
                                                                    <span>签收人：张佳</span>
                                                                    <span>项目经理</span>
                                                                </p>
                                                                 <p>签收时间：2016-08-20 15:26:12</p>
                                                            </div>
                                                            <div class="deliveryinfo-order-pic col-md-6">
                                                                <img src="http://placehold.it/60x60">
                                                                <img src="http://placehold.it/60x60">
                                                                <img src="http://placehold.it/60x60">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="deliveryinfo-sign col-md-6">
                                                                <p>确认签收</p>
                                                                <p>
                                                                    <span>签收人：张楠</span>
                                                                    <span>监理</span>
                                                                </p>
                                                                <p>签收时间：2016-08-20 15:26:12</p>
                                                            </div>
                                                            <div class="deliveryinfo-order-pic col-md-6">
                                                                <img src="http://placehold.it/60x60">
                                                                <img src="http://placehold.it/60x60">
                                                                <img src="http://placehold.it/60x60">
                                                            </div>
                                                        </div>                                                            
                                                    </div>

                                                </td>
                                            </tr>                                                
                                        </tbody>
                                    </table>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Block Tabs Animated Fade -->
            </div>
        </div>
        <!-- END Block Tabs Content Animation -->
    </div>
</div>