
<div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <div class="sidebar-content">
        <!-- Side Header -->
        <div class="side-header side-content bg-white-op">


            <a class="h5 text-white" href="index.html">
                 <span class="h4 font-w600 sidebar-mini-hide">锋尚生命屋</span>
            </a>
        </div>
        <!-- END Side Header -->

        <!-- Side Content -->
        <div class="side-content">
            <ul class="nav-main">
                <li>
                    <a href="index.html"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">首页</span></a>
                </li>
                <li>
                    <a class="nav-submenu" data-toggle="nav-submenu" ><i class="si si-badge"></i><span class="sidebar-mini-hide">内容管理</span></a>
                    <ul>
                        <li>
                            <a href="base_ui_widgets.html">文章管理</a>
                        </li>
                        <li>
                            <a href="base_ui_grid.html">培训管理</a>
                        </li>
                        <li>
                            <a href="base_ui_typography.html">规章制度</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-grid"></i><span class="sidebar-mini-hide">会员管理</span></a>
                    <ul>
                        <li>
                            <a href="base_tables_styles.html">业主管理</a>
                        </li>
                        <li>
                            <a href="base_tables_responsive.html">服务人员</a>
                        </li>
                        <li>
                            <a href="base_tables_tools.html">会员审核</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-note"></i><span class="sidebar-mini-hide">装修管理</span></a>
                    <ul>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu">装修管理</a>
                            <ul>
                                <li><a>装修订单</a></li>
                                <li><a>退换货订单</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu">商品管理</a>
                            <ul>
                                <li><a>装修订单</a></li>
                                <li><a>退换货订单</a></li>
                            </ul>
                        </li>
                        <li>
                            <a >客服记录</a>
                        </li> 
                        <li>
                            <a >统计分析</a>
                        </li>                                         
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu">装修配置</a>
                            <ul>
                                <li><a>工序配置</a></li>
                                <li><a>工种费用</a></li>
                                <li><a>成本配置</a></li>
                                <li><a>合同配置</a></li>
                            </ul>                            
                        </li>                                        
                    </ul>
                </li>
                <li>
                    <a class="nav-submenu" data-toggle="nav-submenu" ><i class="si si-wrench"></i><span class="sidebar-mini-hide">供应商管理</span></a>
                    <ul>
                        <li>
                            <a ui-sref="dashboard.provider">供应商管理</a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.purchase">采购订单管理</a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.returngoods"">退换货订单管理</a>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-magic-wand"></i><span class="sidebar-mini-hide">财务管理</span></a>                   
                </li>
                <li>
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-puzzle"></i><span class="sidebar-mini-hide">申诉管理</span></a>
                    <ul>
                        <li>
                            <a ui-sref="appeal">退换货申诉</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
</div>

